body {
    margin: 0 auto;
    padding: 0
}
#vorname, #nachname {
    display: inline-block;
}
#email, #input-thema, #text, label {
    display: block
}
label:first-of-type::after, label:nth-of-type(2)::after, label:last-of-type::after {
    content: " *";
    color: red
}
label {
    font-weight: 500;
}
form {
    padding-top: 2em;
}
label {
    padding-top: 1em;
}
#button {
    color: white;
    background: lightseagreen;
    margin-top: 1em;
    width: 75%;
    border: none
}
fieldset {
    margin:0;
    width: 30%;
    border: none;
    margin-left: 40%
}
#email, #text {
    width: 73%
}
#text:hover, #email:hover, #vorname:hover, #nachname:hover {
    border: 1px solid lightseagreen
}
#button:hover {
    background: black;
}
#thema{
    width: 75%
}